<div class="homework">
    <div class="task1">
        <h3>Version: {{major}}.{{minor}}</h3>

        <h4>Change log:</h4>
        <ul>
            <li>{{majorLog}}</li>
            <li>{{minorLog}}</li>
        </ul>
    </div>

    <div class="task2">
        <h3> Dr. IQ </h3>
        <button >Agree </button>
        <button>Disagree </button>
        <h3>celeritas</h3>
        <button>Agree</button>
        <button>Disagree</button>
        <h3>Bombasto</h3>
        <button>Agree</button>
        <button>Disagree</button>
    </div>
</div>